@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: linear-gradient(90deg, #23074d 0%, #cc5333 100%);
}
.container {
  width: 100%;
  min-height: 100vh;
  color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
input[type="text"] {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border:none;
  width:70%;
  overflow-x:hidden;
}

.errorMsg{
    display: none;
}

.innercontainer{
  width: 100%;
  text-align: center;
  
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  color: yellow;
  text-transform: capitalize;
}
.content:nth-child(1) {
  box-shadow: 0 0 0 10px #89f7fe, 0 0 0 10px#89f7fe;
}
.content:nth-child(n+2) {
  box-shadow: 0 0 0 5px #6f86d6;
}

.innercontainer .content:first-child {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  
}
.innercontainer .content:not(:nth-child(1)) {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 130px;
  height: 130px;
  margin: 1rem auto;
  font-size: 0.5rem;
}

.innercontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px;
  
}

.innercontainer > :first-child {
  grid-column: 1 / -1;
}

.innercontainer .content:not(:nth-child(1))  .contentDesc{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.innercontainer .content:first-child .contentDesc{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;  
  background-color: rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contentDesc h1{
  color: cyan;
}
.contentDesc p{
  font-size: 1.2rem;
}

.button-13{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0.4rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}


.nav {
  padding: 1rem;
  width: 100%;
  background-color: black;
  position: static;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
 display: inline-block;
 width: 5rem;
}
.nav > .nav-header > .nav-title img {
width: 100%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 1.4rem;

}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f24507;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nav > #nav-check {
  display: none;
}
.nav-title div{
  display: none;
  color: white;
}


@media (max-width:600px) {
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav-title img{
    display: none;
  }
  .nav-title div{
    display: inline-block;
    color: white;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label>i{
    display: block;
    zoom: 1.3;
   
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    padding-left: 1rem;
    background-color: #010101;
    height: 100px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 40px;
    left: 0px;
    z-index: 2;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}




@media (min-width:425px){
  .searchElements{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  input[type="text"]{
    width: 50%;
  }
}