* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head{
  height: 100vh;
  width: 100%;
  background-image: url(/assets/background.jpg);
  background-position: center;
  background-size: cover;
}
.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/background.jpg);
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
  background-repeat: repeat-y;
  margin-bottom: -10vh;
}
::-webkit-scrollbar {
  display: none;
}

.search-el {
  text-align: center;
}
#exercise-search{
  width: 10em;
  height: 3em;
  font-size: 1em;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
select option{
  width: 100%;

}
select option:checked {
  background-color: #f0f0f0; 
  color: #000;
}
.btn {
  color: #090909;
  padding: 0.4em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.btn:hover {
  border: 1px solid white;
}

.exercises {
  margin-top: 1rem;
  display: grid;
}
.loading {
  place-self: center;
  display: none;
  mix-blend-mode: multiply;
  filter: invert(100);
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  height: auto;
}
.content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.content p {
  color: rgb(12, 12, 12);
  padding: 1rem;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.content img {
  width: 100%;
  /* filter: invert(1); */
}

.exerciseName {
  background-color: rgb(206, 76, 175);
}
.impactPart {
  background-color: cyan;
}
